.example-form-field {
    width: 200px;
  }

  .controls-left {
    width: 20%;
  }

  .controls-right {
    width: 20%;
  }

  .result {
    background-color: aqua;
    width: 60%;
    height: 100%;
    top: 0px;
    left: 40%;
  }

  .container {
    display: flex;
  }
    
  /*@media screen and (max-aspect-ratio: 1/1) {
    .controls-left {
      width: 50%;
      position: absolute;
      top: 0px;
      left: 0%;
    }
  
    .controls-right {
      width: 50%;
      position: absolute;
      top: 0px;
      left: 50%;
    }
    
      .result {
        background-color: aqua;
        width: 100%;
        height: 100vw;
        position: relative;
        top: 40%;
        left: 0px;
      }
    }*/